!!!
%html
  %head
    %title Percolator
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    - if signed_in?
      %meta{name: 'api_token', content: current_user.api_token}
  %body
    .navbar.navbar-default.navbar-static-top{role: "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to 'Percolator', root_path, class: 'navbar-brand'
        .collapse.navbar-collapse
          %ul.nav.navbar-nav.pull-right
            - if signed_in?
              %p.navbar-text= current_user.name
            - if signed_out?
              %li= link_to 'github', auth_github_cpath

    .container
      = yield
