!!!
%html
  %head
    %title Percolator.io
    = stylesheet_link_tag    "application", media: "all"
    = render 'layouts/rollbar'
    = javascript_include_tag "application"
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
    = csrf_meta_tags
  %body
    = render 'layouts/tagmanager'
    .navbar.navbar-default.navbar-static-top{role: "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to 'Percolator.io', root_path, class: 'navbar-brand'
        .collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li=link_to 'Readme', 'https://github.com/percolator-io/percolator/blob/master/README.md'
          %ul.nav.navbar-nav.navbar-right
            - if signed_in?
              %li= link_to 'Select categories', edit_account_category_selection_path
              %li.dropdown
                = link_to '#', class: 'dropdown-toggle', data: { toggle: 'dropdown' } do
                  = current_user.name
                  %b.caret
                %ul.dropdown-menu
                  %li= link_to 'Sign out', session_path, method: :delete

            - if signed_out?
              %li= link_to 'Github', auth_github_cpath

    .container
      = yield
