!!!
%html
  %head
    %title Asearcher
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container
      .page-header
        %h1 Searcher
        -#%p.lead
      = link_to 'github', auth_github_cpath
      = yield
